//Defaults Colors
@pink: #ea2470;
@medium-pink: ##555964;
@dark-pink: #940b3f;
@gray: #555964;
@light-gray: #9ea1aa;
@medium-gray: #e0e1e5;
@alpha-white: rgba(255, 255, 255, 0.5);
@white: #fbfbfd;
@red: #ff3535;
@green: #82b542;
@black: rgba(0, 0, 0, 0.2);
@light-black: rgba(0, 0, 0, 0.5);

.pink-border {
    border-color: @pink;
}

.pink-background {
    background: @pink;
}
.pink-color {
    color: @pink;
}