//Font families
@font-face {
    font-family: webfont;
    src: url("./ralts.woff") format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-light: helvetica, arial, sans serif;
@font-regular: helvetica, arial, sans serif;
@font-bold: helvetica, arial, sans serif;

//Font size
@small: 13px;
@medium: 14px;
@large: 18px;
@x-large: 22px;
@xx-large: 25px;
